/*
Header + nav
 */
.header {
	display: block;
}

.header-top {
  background: $lightGrey; 
  padding: 2px 0;
}
.top-info, .top-lang, .mail, .phone {
  float: left;
}
.top-info, .top-lang {
  @include clearfix;
  width: 50%;
}
.mail {
  margin-right: 30px;
}
.mail a, .phone a {
  color: $black;
}
.icon {
  display: inline-block;
  margin-right: 5px;
  color: $red;
  vertical-align: -2px; 
}
.top-lang {
  text-align: right;
  a {
    display: inline-block;
    font-size: 12px;
    color: $black; 
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin-right: 5px;
    @include transition;
    &:hover, &.active {
      background-color: $black; 
      color: $white; 
    }
  }
}

.nav {
  display: block;
  @include clearfix;
}

ul.menu {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 35px 0 0;
  @include clearfix;
  // > li > a {
  //   &:after {
  //     content: "";
  //     position: absolute;
  //     display: inline-block;
  //     left: -10px;
  //     top: 0;
  //     width: 10px;
  //     height: 100%;
  //     background-color: $grey; 
  //   }
  // }
  li {
    display: inline-block;
    // margin: 0 15px; 
    padding: 20px 15px;
    line-height: 20px;
    vertical-align: bottom;
    &.fb {
        a {
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPlJREFUeNpi5OPjYwACZiCuAOIiIBZiIA28A+I+IO4A4r/M7OzsIMFaIG4GYk4G0gFIjxPIMCA+yAh14SsgFmWgDLwGYjEWICFNgmEfgXgBEF+D8s2AOBnKBpkhzQINP2LAdyDWA+JHSGJfkAwExwULCV46hWQYyFfeUBeiAFIM/ILEjgLiLmyKmIg0DBRmO5D4l4F4FpQmy8CDQDwFiQ8yPJ0SA7WA2AOJbwDEaUBsTG4Y2kPDEOZtkOHtlIQh0WBoGPiXiub9BRn4FFoEMVChcHgK8/JEIjSAstp/KMYWw+B0CisPjwDxL2j6IrVMBPmuFWrJf4AAAwC5JC4v+kahSwAAAABJRU5ErkJggg==') no-repeat center; 
          width: 20px;
          height: 20px;
        }      
      }
    > a {
      position: relative;
    }
    a {
      display: block;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: $fwb;
      color: $black;
      @include transition;

      &:hover {
        color: $red;
        text-decoration: underline; 
      }  
    }
  }
}
.logo {
  float: left;
  position: relative;
  min-height: 49px;
  &:hover a.logo-hover {
    opacity: 1;
    z-index: 3;
  }
    a {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 2;
      &.logo-hover {
        opacity: 0;
        z-index: 1;
      }
    }
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  padding: 0 10px;
  margin: 0;
  background: rgba($menuBlack, .6);
  overflow: hidden;
  max-height: 0;
  @include transition;
  a {
    display: block;
    color: $white; 
    line-height: 50px
  }
}
.no-rgba .submenu {
  background: $menuBlack ;
}
ul.menu .submenu li {
  padding: 0;
  margin: 0 15px;
  a {
    color: $white;
    font-size: 14px;
    &:hover {
      text-decoration: underline; 
    }
  }
}

.menu li:hover .submenu {
  max-height: 50px;
}
.menu li:hover > a {
  text-decoration: underline;
  color: $red; 
}

li.dropdown:hover > a.triangle:before, li.dropdown:hover > a.triangle:after,
li.dropdown--open > a.triangle:before, li.dropdown--open > a.triangle:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-top: 0;
}
li.dropdown:hover > a.triangle:before, li.dropdown--open > a.triangle:before {
    bottom: -20px;
    left: 50%;
    border-bottom-color: rgba($menuBlack, .6);
    border-width: 8px;
    margin-left: -8px;
}

@media only screen and (max-width: 768px) {
 .submenu {
   max-height: none;
   display: none;
 }

//  li.dropdown--open > a.triangle:before, li.dropdown--open > a.triangle:after {
//       content: "";
//       position: absolute;
//       width: 0;
//       height: 0;
//       border-style: solid;
//       border-color: transparent;
//       border-top: 0;
// }
// li.dropdown--open > a.triangle:before {
//     bottom: -20px;
//     left: 50%;
//     border-bottom-color: rgba($menuBlack, .6);
//     border-width: 8px;
//     margin-left: -8px;
//   }
} 


// .container--nav, .container--footer {
//   // background: $color3;
//   // @include boxsh-in;
// }
// .container--nav {
//   // padding: 10px 20px;
//   padding: 0;
// }
// .nav {
//   // padding: 10px 0;
// }
// .nav-left, .nav-right {
//   float: left;
// }
// .nav-left {
//   width: 12%;
// }
// .nav-right {
//   width: 88%;
//   a {
//     color: #FFF;
//     font-size: 16px;
//   .icon {
//     display: inline-block;
//     margin-right: 10px;
//     color: #FFF;
//     vertical-align: -5px;
//     font-size: 28px;
//   }
// }
// }

// .top-info, .top-logIn {
//   float: left;
//   width: 30%;
// }
// .top-cart {
//   float: left;
//   width: 40%;
//   a {
//   font-weight: bold;
//   color: $color4;
//   }
// }
// .top-info, .top-logIn, .top-cart {
//   padding: 15px 0;
//   text-align: center;
//   cursor: pointer;
// }
// .cart-items {
//   position: absolute;
//   display: inline-block;
//   text-align: center;
//   top: -12px;
//   right: -12px;
//   width: 22px;
//   height: 22px;
//   background: $color4;
//   font-size: 12px;
//   font-weight: bold;
//   line-height: 22px;
//   -webkit-border-radius: 50%;
//   border-radius: 50%;
// }

// .h4--top {
//   display: inline-block;
//   color: #FFF
// }
// .main-nav {
//   background: #FFF ;
//   width: 50%;
//   list-style: none;
//   position: fixed;
//   z-index: 9998;
//   top: 0;
//   left: -50%;
//   margin: 0;
//   padding: 90px 30px 30px;
//   height: 100%;
//   -webkit-transition: all 1s ease;
//   -moz-transition: all 1s ease;
//   -ms-transition: all 1s ease;
//   -o-transition: all 1s ease;
//   transition: all 1s ease;
//   ul {
//     margin: 0;
//     padding: 0;
//     li {
//        &.active a {
//         color: $color4;
//       }
//     }
//   }
//   > ul {
//     list-style: none;
//     height: 100%;
//     overflow-y: scroll;
//     a {
//       background: url('../images/ico/menu-dot.png') no-repeat left 0.3em;
//       padding-left: 16px;
//       font-size: 14px;
//       line-height: 30px;
//       font-weight: bold;
//       color: $color1a;
//       text-transform: initial;
//     }
//     > li {
//       border-bottom: 1px solid $color2l;
//       &:first-child {
//         border-top: 1px solid $color2l;
//       }
//       &.active {
//         > a {
//            color: $color1a;
//         }
//       }
//        > a {
//           display: block;
//           background-image: none;
//           padding-left: 0;
//           font-weight: bold;
//           font-size: 18px;
//           font-weight: bold;
//           line-height: 45px;
//           text-transform: uppercase;
//       }
//     }
//   }
//   &.menu-toggle {
//     left: 0;
//   }
// }
// li.promocje > a {
//   color: $color4;
// }
// li.producenci > a {
//   color: $color5;
// }
// .h2--nav, .h5--top {
//   font-size: 12px;
//   color: $color2b;
//   font-weight: bold;
//   &:hover {
//     color: darken($color2b , 10%);
//   }
// }
// .logo, .quick-contact {
//   float: left;
// }
// .logo {
//   width: 30%;
//   text-align: center;
//   a {
//     color: $color1a;
//     width: 75%;
//     display: inline-block;
//     line-height: 1.2;
//     img {
//       display: inline-block;
//       margin-bottom: 5px;
//     }
//   }
// }
// .quick-contact {
//   width: 70%;
// }
// .h5--top {
//   text-transform: uppercase;
//   font-size: 10px;
// }
// .tel-info, .mail-info {
//   color: #FFF;
//   text-align: center;
//   font-weight: bold;
//   font-size: 21px;
//   float: left;
//   padding: 20px;
//   background: $color5;
//   @include transition;
//   &:hover {
//     color: darken(#fff, 10%);
//   }
//   span {
//     display: inline-block;
//     margin-right: 10px;
//     vertical-align: -2px;
//   }
// }
// .container--header {
//   padding: 20px 20px 0;
// }
// .tel-info {
//   width: 40%;
// }
// .mail-info {
//   width: 58%;
//   margin-left: 2%;
// }
// /*
// Slide down menu
//  */
// .top-info--menu, .top-logIn--menu {
//   background: #303030;
//   max-height: 0;
//   opacity: 0;
//   overflow: hidden;
//   @include transition;
//   }
// .top-menu--active {
//   max-height: 400px;
//   opacity: 1;
// }
// .menu-down {
//   background: #303030;
// }
// .top-info--nav, .form-wrapper {
//   padding: 10px 20px;
// }
// .top-info--nav {
//     list-style: none;
//     margin: 0;
//     text-align: center;
//     li {
//       border-top: 1px solid $color2m;
//       &:first-child {
//         border-top: none;
//       }
//       &:hover a, &:active a {
//         background-color: $color3;
//       }
//     }
//     a {
//       display: block;
//       color: #fff;
//       text-transform: uppercase;
//       line-height: 18px;
//       font-size: 18px;
//       padding: 16px 0;
//       font-weight: bold;
//       @include transition;
//       &:hover {
//         color: darken(#fff,15%) ;
//       }
//     }
// }
// // .top-logIn--menu {
// //   height: 380px;
// // }
// .form-wrapper {
//   width: 50%;
//   // position: absolute;
//   left: 50%;
//   top: 50%;
//   // transform: translate(-50%, -50%);
//   padding: 0;
//   margin: 33px auto 0;
//   .search {
//     float: none;
//     color: #FFF;
//     font-size: 16px;
//     margin: 0;
//   }
//   .input {
//     margin-bottom: 15px;
//   }
//   input[name="login"] {
//     margin-top: 15px;
//   }
// }
// .input--solokolos-full {
//   width: 100%;
//   font-size: 18px;
//   line-height: 1.2;
//   padding: 19px 10px;
//   text-align: center;
// }
// .register, .button-logIn {
//   display: block;
//   text-align: center;
//   color: #FFF;
//   font-size: 18px;
//   font-weight: bold;
//   text-transform: uppercase;
//   padding: 20px 7px;
//   float: left;
//   width: 50%;
// }
// .password-reminder {
//   // position: absolute;
//   // bottom: 0;
//   // left: 0;
//   // width: 100%;
//   text-align: center;
//   border-top: 1px solid $color2m;
//   padding: 25px 15px;
//   a {
//     font-size: 14px;
//     font-weight: bold;
//   }
// }





